In [9]:
import duckdb
import pandas as pd
from src.model.utils import train_model
from src.preprocess.etl import get_dataframe
from src.model.inference import predict_month
from src.constants import PATH_DATABASE, MONTHS_BASELINE, MONTHS_INFERENCE, PARAMS


import warnings

warnings.filterwarnings("ignore")

In [11]:
con = duckdb.connect(database=PATH_DATABASE, read_only=True)

In [12]:
con.sql(
    """
    SELECT
        numero_de_cliente,
        foto_mes,
        clase_ternaria_202108,
        clase_ternaria_202109
    FROM competencia_03
    ORDER BY 
        numero_de_cliente,
        foto_mes
    """
).to_df().head(10000)

    numero_de_cliente  foto_mes clase_ternaria_202108 clase_ternaria_202109
0                   4    202007              CONTINUA              CONTINUA
1                   4    202008              CONTINUA              CONTINUA
2                   4    202009              CONTINUA              CONTINUA
3                   4    202010              CONTINUA              CONTINUA
4                   4    202011              CONTINUA              CONTINUA
..                ...       ...                   ...                   ...
82          494389234    202105              CONTINUA              CONTINUA
83          494389234    202106              CONTINUA              CONTINUA
84          494389234    202107                BAJA+2              CONTINUA
85          494389234    202108                BAJA+1                BAJA+2
86          494389234    202109                  None                BAJA+1

[87 rows x 4 columns]

In [14]:
all_months = MONTHS_BASELINE + MONTHS_INFERENCE
all_months = [str(month) for month in all_months]
where_clause = ", ".join(all_months)

In [15]:
where_clause

'202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108, 202109'

In [16]:
df = get_dataframe(con, where_clause)

In [17]:
df.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,mautoservicio,ctarjeta_visa,ctarjeta_visa_transacciones,mtarjeta_visa_consumo,clase_ternaria_202104,clase_ternaria_202105,clase_ternaria_202106,clase_ternaria_202107,clase_ternaria_202108,clase_ternaria_202109
0,4231431,202007,0,0,1,51,47,2685.87,49834.16,2130.01,...,0.0,1,1,11810.23,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA
1,4231431,202008,0,0,1,51,48,2264.82,45425.09,1981.17,...,0.0,1,1,12565.02,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA
2,4231431,202009,0,0,1,51,49,2044.97,41781.22,1812.01,...,0.0,1,1,12564.98,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA
3,4231431,202012,1,0,0,51,52,2522.09,35592.87,1857.05,...,0.0,1,1,12564.98,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA
4,4231431,202101,1,0,0,52,53,3016.56,34162.13,2714.54,...,0.0,1,1,12564.98,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA,CONTINUA

In [18]:
drop_cols = [f"clase_ternaria_{i}" for i in MONTHS_INFERENCE]
drop_cols

['clase_ternaria_202104',
 'clase_ternaria_202105',
 'clase_ternaria_202106',
 'clase_ternaria_202107',
 'clase_ternaria_202108',
 'clase_ternaria_202109']

In [19]:
ground_truth = df[["numero_de_cliente","foto_mes", "clase_ternaria_202109"]]
ground_truth = ground_truth[ground_truth["foto_mes"]<=202107]
ground_truth

    numero_de_cliente  foto_mes clase_ternaria_202109
0             4231431    202007              CONTINUA
1             4231431    202008              CONTINUA
2             4231431    202009              CONTINUA
3             4231431    202012              CONTINUA
4             4231431    202101              CONTINUA
..                ...       ...                   ...
71                  6    202107              CONTINUA
72                  7    202107              CONTINUA
83                  5    202007              CONTINUA
84          494389234    202007              CONTINUA
85          494389234    202012              CONTINUA

[76 rows x 3 columns]

In [21]:
ground_truth["ganancia"] = ground_truth["clase_ternaria_202109"].map({"BAJA+2":270000, "BAJA+1":0, "CONTINUA":0})
ground_truth["ganancia"].sum()

270000

In [30]:
for month in MONTHS_INFERENCE:
    df["clase_binaria"] = df[f"clase_ternaria_{month}"].map({"BAJA+2":1, "BAJA+1":1, "CONTINUA":0})
    
    df_test = df[df["foto_mes"].isin([month])].copy()
    df_train = df[df["foto_mes"] <= int(month - 2)].copy()
    
    df_test = df_test.reset_index(drop=True)
    df_train = df_train.reset_index(drop=True)
    
    X_train = df_train.drop(columns=drop_cols, axis=1).copy()
    X_test = df_test.drop(columns=drop_cols, axis=1).copy()
    
    y_train = df_train["clase_binaria"].copy()
    
    tags = {
        'stage': 'monthly',
        'last_month': month,
    }
    
    model = train_model(X_train, y_train, PARAMS, tags)
    
    preds = X_test[["numero_de_cliente", "foto_mes"]].copy()
    preds["prediction"] = predict_month(model, X_test)
    preds = preds.merge(ground_truth, on=["numero_de_cliente", "foto_mes"])
    
    preds.to_csv(f"datasets/processed/predictions/preds_{month}.csv", index=False)

2023/11/13 21:51:44 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during lightgbm autologging: The following failures occurred while performing one or more logging operations: [MlflowException('Failed to perform one or more operations on the run with ID 6fb7a3b173d74111b7ec9edde4b675a1. Failed operations: [MlflowException("Duplicate parameter keys have been submitted: [\'num_boost_round\']. Please ensure the request contains only one param value per param key.")]')]
2023/11/13 21:51:45 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during lightgbm autologging: The following failures occurred while performing one or more logging operations: [MlflowException('Failed to perform one or more operations on the run with ID a42b2fff32b74461ba40692f995faf7c. Failed operations: [MlflowException("Duplicate parameter keys have been submitted: [\'num_boost_round\']. Please ensure the request contains only one param value per param key.")]')]
2023/11/13 21:51:47 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during lightgbm autologging: The following failures occurred while performing one or more logging operations: [MlflowException('Failed to perform one or more operations on the run with ID 473f91435af54b1e9f5aa61e721e4378. Failed operations: [MlflowException("Duplicate parameter keys have been submitted: [\'num_boost_round\']. Please ensure the request contains only one param value per param key.")]')]
2023/11/13 21:51:48 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during lightgbm autologging: The following failures occurred while performing one or more logging operations: [MlflowException('Failed to perform one or more operations on the run with ID 87ea492cad08457fbc4f8cc9a00241c3. Failed operations: [MlflowException("Duplicate parameter keys have been submitted: [\'num_boost_round\']. Please ensure the request contains only one param value per param key.")]')]
2023/11/13 21:51:50 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during lightgbm autologging: The following failures occurred while performing one or more logging operations: [MlflowException('Failed to perform one or more operations on the run with ID 4376700eaf0745c59311c1e60d094a18. Failed operations: [MlflowException("Duplicate parameter keys have been submitted: [\'num_boost_round\']. Please ensure the request contains only one param value per param key.")]')]
2023/11/13 21:51:51 WARNING mlflow.utils.autologging_utils: Encountered unexpected error during lightgbm autologging: The following failures occurred while performing one or more logging operations: [MlflowException('Failed to perform one or more operations on the run with ID 040273ce363c4a5aa6cda51cebe4b323. Failed operations: [MlflowException("Duplicate parameter keys have been submitted: [\'num_boost_round\']. Please ensure the request contains only one param value per param key.")]')]